@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

@font-face {
    font-family: 'Harlow';
    src: url("./assets/font/HARLOWSI_1.TTF") format('truetype');
}

:root{
    --beige-100 : #FBF7F2;
    --beige-300: #EFE8DD;
    --beige-500: #D8BFA7;

    --purple-500 : #5C4954;
    --purple-300: #79616F;
    --purple-100: #AE6378;

    --black-color : #000000E6;
    --gray-color : #D9D9D9;
    --white-color: #FAFEFE;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: "Literata", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--beige-100);
    position: relative;
    user-select: none;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}


button{
    cursor: pointer;
}

section{
    position: relative;
    @media (min-width: 320px) {
        padding: 0 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    @media (min-width: 1024px) {
        padding: 0 10rem;
    }

    @media (min-width: 1440px) {
        padding: 0 15rem;
    }
}


nav{
    position: relative;
    z-index: 100 !important;
    .desktop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem 0 2rem;
        background-color: var(--purple-100);
        height: 7rem;
        padding: 1rem;

        .logo-wrapper{
            display: flex;
            
            h1{
                font-family: "Harlow", sans-serif;
                font-size: 3rem;
                letter-spacing: .5rem;

            }
        }

        ul{
            display: flex;
            gap: 1rem;

            a{
                padding: .1rem .5rem;
            }

            .download{
                background-color: var(--secondary-color);
                color: var(--black-color);
            }
        }
    }

    .mobile{
        position: relative;
        z-index: 100;
        display: none;

        .outer{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 0 2rem;
            background-color: var(--purple-100);

            .logo-wrapper{
                display: flex;
                
                h1{
                    font-family: "Harlow", sans-serif;
                    font-size: 2rem;
                }
            }

            svg{
                padding: 1rem;
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                color: var(--white-color);
            }
        }

        .middle{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: .5);
            display: none;
        }

        .inner{
            transition: all .2s linear;
            position: fixed;
            top: 0;
            right: 100%;

            background-color: var(--white-color);
            height: 100vh;
            width: 40%;

            ul{
                padding-top: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                a{
                    color: var(--purple-500);

                    li{
                        padding: 1rem;
                        transition: all .1s linear;

                        &:hover{
                            background-color: var(--purple-500);
                            color: var(--beige-100);
                        }
                    }
                }
            }
        }
    }

        //small navbar
        @media (max-width: 500px){
            .desktop{
                display: none;
            }

            .mobile{
                display: block;
            }
        }
}

.spacer{
    height: 5rem;
}

.hero-section{
    background-image: url("./assets/first-page/28371b2e62ab3d44a04e1cd8bb3aaa46.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;

    .info{
        background-color: rgba(216, 191, 167, .7);
        padding: 1rem;

        h1{
            font-family: "Harlow", sans-serif;
            font-size: 3rem;
            color: var(--purple-100);
            text-align: center;
            font-size: 5rem;
            letter-spacing: .5rem;
            margin-bottom: 1rem;

            @media (max-width: 500px) {
                font-size: 2.5rem;
                letter-spacing: .4rem;

            }
        }

        p{
            text-align: center;
            font-size: 1.5rem;
            color: var(--purple-500);

            @media (max-width: 500px) {
                font-size: 1rem;
            }
        }
    }
}

.best-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    .img-one{
        background-image: url("./assets/first-page/28371b2e62ab3d44a04e1cd8bb3aaa46.jpg");
    }

    .img-two{
        background-image: url("./assets/first-page/40dd204d4ccdf808bb08700d95c6be28.png");
    }

    .img-wrapper{
        width: 100%;
        height: 25rem;
        position: relative;
        color: var(--beige-100);
        border-radius: 10px;
        overflow: hidden;

        .info{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            padding: 1rem;
            background-color: rgba($color: #555555, $alpha: .5);


            h1{
                font-size: 3rem;

                @media (max-width: 500px) {
                    font-size: 2rem;
                }
            }

            .group{
                display: flex;
                justify-content: space-between;
                align-items: end;
                gap: 1rem;
                margin-top: 1rem;

                @media (max-width: 450px) {
                    flex-direction: column;
                    align-items: start;
                }

                a{
                    text-wrap: nowrap;
                    text-decoration: underline;
                    font-weight: bold;
                }

                p{
                    text-wrap: nowrap;
                    background-color: var(--beige-300);
                    color: var(--purple-500);
                    font-size: 1.5rem;
                    padding: 1rem;

                    @media (max-width: 600px) {
                        font-size: 1.2rem;
                        padding: .5rem;
                    }
                }
            }
        }
    }
}

.products{
    background-image: url("./assets/first-page/f718d6b9fdbeed0d58bc93b2f0556e46.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    gap: 2rem;

    @media (max-width: 1750px) {
        flex-direction: column;
    }

    .left{
        flex: 2;
        padding: 1rem;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #D8BFA7, $alpha: .7);

        h2{
            color: var(--purple-100);
        }
        h1{
            color: var(--purple-500);
            
            @media (max-width: 500px) {
             font-size: 1.5rem;
            }
        }
    }

    .right{
        flex: 4;

        display: flex;
        background-color: var(--purple-300);
        padding: 2rem;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 15rem;
        margin: 2rem;
        position: relative;
        border-radius: 15px;

        .card{
            max-width: 20rem;
            color: var(--beige-100);

            img{
                border-radius: 10px;
                margin-bottom: .5rem;
            }
        }

        .info{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1rem;
            text-decoration: underline;
            display: flex;
            gap: 1rem;
            text-decoration-color: var(--beige-100) ;
        }
    }
}
.recipe-title{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--purple-300);
    text-wrap: nowrap;


    @media (max-width: 850px) {
        font-size: 1.8rem;
    }

    @media (max-width: 500px) {
        font-size: 1.2rem;
    }
}


.recipe{
    background-image: url("./assets/first-page/554dfa6db6a53a2a89d9994fe1ec07e1.png");
    .info{

        h1{
            font-family: "Literata", sans-serif !important;
            letter-spacing: .3rem !important;

            @media (max-width: 550px) {
                font-size: 2.5rem;
            }

        }

        p{
            max-width: 40rem;
        }
    }
}

.category-title{
    color: var(--purple-500);
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.categories{

    display: flex;
    justify-content: center;
    gap: 2rem;

    @media (max-width: 1400px) {
        flex-direction: column;
    }

    .card{
        flex: 1;
        min-height: 40rem;
        min-width: 20rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: grid;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        cursor: pointer;

        @media (max-width: 1400px) {
            min-height: 20rem;
        }

        h1{
            text-align: center;
            font-size: 2rem;
            color: var(--beige-100);
        }
    }
    .one{
        background-image: url("./assets/categories/40dd204d4ccdf808bb08700d95c6be28.png");
    }
    .two{
        background-image: url("./assets/categories/730c67f8d320b7fedffdc5459dddcab1.png");
    }
    .three{
        background-image: url("./assets/categories/d3a04412f8ad8e9aa2522f543bd6a67c.png");
    }
    .four{
        background-image: url("./assets/categories/ea0c953a0ec68d981c5c35c337486930.png");
    }
}

.about-section {
    background-image: url("./assets/first-page/90b677d4da38f6291fb9c9784e4ed051.png");
    height: 70rem;
    margin-bottom: 5rem;
    position: relative;

    .info-about {
        background-color: rgba(92, 73, 84, 0.9);
        max-width: 40rem;
        padding-bottom: 5rem;
        position: relative;
        display: none;

        &.active {
            display: block;
        }

        img {
            width: 10rem;
            margin: 0 auto;
            display: block;
        }

        h3 {
            text-align: center;
            color: var(--beige-100);
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        p {
            color: var(--beige-100);
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: left;
        }

        color: var(--beige-100);

        .controls {
            color: var(--beige-100);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            svg {
                width: 3rem;
                cursor: pointer;
            }
        }
    }
}

.contact-section{
    background-image: none;
    height: 50rem;

    &::before{
        content: "";
        background-image: url('./assets/first-page/cde18848e47d1340fbf4c72d26623f42.png');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
    }
    
    .des{
        z-index: 2;
        text-align: center;
        
        h3{
            font-size: 3rem;
            color: var(--purple-500);
        }

        p{
            background-color: rgba($color: #ffe1a8, $alpha: .3);
            padding: .3rem;
            margin-top: 1rem;
        }
    }


}

.form{
    background-color: var(--purple-500);
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

    font-family: sans-serif;

    .input-section{
        display: flex;
        width: 100%;
        gap: 1rem;


        .group{
            flex: 1;

            input{
                height: 3rem;
                width: 100%;
                background-color: var(--beige-100);
                border-radius: 10px;
                border: none;
                margin-bottom: 1.5rem;
                font-size: 1.5rem;
                padding: 1rem;

            }

            p{
                color: var(--beige-100);
                margin-bottom: .5rem;
                font-size: 1.2rem;
            }
        }

    }

    .text-area{
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 10rem;
        font-size: 1.5rem;
        padding: 1rem;
        background-color: var(--beige-100);
        border-radius: 10px;
    }

    button{
        margin-top: 2rem;
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;
        font-family: "Literata", sans-serif;
        background-color: var(--beige-300);
        border-radius: 10px;
        font-weight: bold;
        color: var(--purple-500);

    }
}

.dropdown {
    max-width: 20rem;
    position: relative;
    top: 0;
    margin: 2rem auto;
}
.select {
    background: var(--beige-100);
    color: var(--purple-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}
.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
    background: var(--beige-500);
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--purple-500);
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--beige-100);
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: var(--beige-500);
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover {
    background: var(--purple-300);
}
.active {
    background: var(--purple-100);
}
.menu-open {
    display: block;
    opacity: 1;
}

footer{
    background-color: var(--purple-100);
    padding: 2rem;
    font-family: sans-serif;
    position: relative;

    @media (max-width:900px) {
        padding-bottom: 5rem;
    }

    .info-group{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        .left{
            ul{
                display: flex;
                font-size: 1.2rem;  
                gap: 2rem;          
                max-width: 20rem;
                flex-wrap: wrap;
            }
        }

        .right{
            font-family: "Harlow", sans-serif;
            font-size: 1.5rem;
            color: var(--beige-100);
        }
    }

    p{
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--beige-100);
    }

    .find-us{
        display: flex;
        align-items: center;
        gap: 1rem;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        p{
            margin: 0;
        }

        svg{
            width: 3rem;
            background-color: var(--beige-300);
            border-radius: 50%;
            padding: .5rem;
        }
    }
}

.category-page{
    h1{
        color: var(--purple-500);
    }

    a{
        color: var(--purple-500);
        font-weight: bold;
        text-decoration: underline;
    }

    .wrapper{
        background-color: var(--beige-300);
        padding: 1rem;
        margin-top: 2rem;
        padding-bottom: 10rem;
        position: relative;

        h1{
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .img-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;

            .img{
                height: 20rem;
                width: 20rem;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .controls{
            color: var(--beige-100);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            svg{
                width: 3rem;

                path{
                    color: var(--black-color);
                }
            }
        }
    }
}

.product-page{
    background-color: var(--purple-300) !important;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 5rem;

    h1{
        font-size: 3rem;
        color: var(--beige-100);
        margin-bottom: 2rem;
    }

    a{
        color: var(--beige-100);
        font-weight: bold;
        text-decoration: underline;
        font-size: 1.5rem;
    }

    .product-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding: 0 2rem;

        .img{
            height: 20rem;
            width: 15rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .controls{
            color: var(--beige-100);
            position: absolute;
            bottom: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            svg{
                width: 3rem;

                path{
                    color: var(--beige-100);
                }
            }
        }
    }
}

.animate-on-observe {
    opacity: 0;
    transition: opacity .8s ease-out, transform .8s ease-out;
}

.animate-up {
    transform: translateY(50px);
}
.animate-up.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-down {
    transform: translateY(-50px);
}
.animate-down.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-left {
    transform: translateX(-50px);
}
.animate-left.active {
    opacity: 1;
    transform: translateX(0);
}

.animate-right {
    transform: translateX(50px);
}
.animate-right.active {
    opacity: 1;
    transform: translateX(0);
}